.row-header{

    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px ;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.footer{
    background-color :rgb(32, 231, 155);
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron{
    background:rgb(32, 231, 155);
    
    color: rgb(250, 250, 233);
    padding:70px 30px 70px 30px;
    margin: 0px auto;
}
.address{
font-size: 80%;
margin: 0px auto;
color: black;
}
body{
    padding: 5px 0px 0px 0px;
z-index: 0;
}
.navbar-dark{

    background-color: rgb(31, 33, 37);
}
.jumbotron1{
    background:rgb(255, 217, 0);
    color: floralwhite;
   
}
.border1{
    
border:solid black;
}
.but{
    background:rgb(255, 217, 0);
    color: black; 
}
.tab-content{
    padding:15px ;
    border: 1px solid rgb(227, 233, 203);
}
.carousel{
    background: rgba(76, 160, 83, 0.431);
}
.carousel-item{
    height: 300px;
}
.carousel-item img{
    position: absolute;
    top:0;
    left: 0;
    
    min-height:300px;
}
#carouselButtons{
right: 0px;
bottom: 0px;
position: absolute;
}